<div>
  <div class="welcomeLogo">
      <img src="../../assets/welcome.jpeg">
  </div>
  <div class="welcomeText mat-typography">
      <h1>Bienvenue dans notre magasin!</h1>
  </div>

  <div class="menu">
    
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Products</mat-button-toggle>
        <mat-button-toggle value="bold">Contact</mat-button-toggle>
        <mat-button-toggle value="bold">Sign Up</mat-button-toggle>
      </mat-button-toggle-group>
    
  </div>
</div>

